body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.carousel-item img {
    height: 60vh;
    object-fit: cover;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

.container {
    padding-top: 70px; /* For navbar spacing */
    padding-bottom: 50px; /* For footer spacing */
}

.card {
    margin-top: 20px;
}

.img-person {
    width: 280px;
    height: 350px !important;
    object-fit: cover;
    object-position: top;
}

.img-city {
    width: 550px;
    height: 350px !important;
    object-fit: cover;
}

.img-spot {
    width: 530px;
    height: 350px !important;
    object-fit: cover;
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar-nav {
        text-align: center;
    }

    .footer {
        text-align: center;
    }

    .carousel-item img {
        height: 40vh;
    }
}
